/* Color Theme Swatches in Hex */
.personal_profile_site-1-hex { color: #96E0A4; }
.personal_profile_site-2-hex { color: #c17187; }
.personal_profile_site-3-hex { color: #813454; }
.personal_profile_site-4-hex { color: #28184e; }
.personal_profile_site-5-hex { color: #314e36; };
.personal_profile_site-6-hex { color: #605f5f40; };

.personal_profile_site-7-hex { color: #198754; } /* success green */

/* background ------------------ */
.gradient-background {
  background: linear-gradient(300deg, #96E0A4, #c17187, #6eabc1);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* standard components ------------*/
body {
  
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
  font-size: 50px;
  font-family: "petit formal script";
  color: white;
}

h2 {
    color: #813454;
    font-size: 35px;
    font-family: "petit formal script";
}

h3 {
  font-size: 26px;
  color: #198754;
}

p {
  color:#605f5fb1;
}


/* Intro section -----------------*/
.profile-img {
  border-radius: 50%;
  max-width: 350px;
}

.intro-container p {
  color: black;
  font-size: 18px;
  text-align: justify;
}

.intro-row {
  img {
    margin-left: 4rem;
  }
}

/* Qualifications section ---------*/
#myCarousel {
  position: relative;
  height: 500px;
  padding-top: 25px;
}

.carousel-inner {
  padding-bottom: 0px;
  height:400px;
 }

.carousel-item {
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

.carousel-item li {
  list-style: none;
  font-size: 18px;
  color:#813454;
}

.carousel-item  h4{
  font-size: 22px;
  color:#813454;
}

.carousel-item  p {
  font-size: 18px;
}


.carousel-indicators [data-bs-target] {
    background-color: #198754; 
}

.carousel-indicators .active {
    background-color: #146c43; 
}

.resume-btn {
  position: absolute;
  bottom: 0px;
  left:50%;
  transform: translateX(-50%);
  z-index: 10;
  text-align: bottom;
}

.resume-btn > a {
  width: 15em;
  height: 3em;
  justify-content: center;
  border:#96E0A4 solid 3px;
  border-radius: 10px;
  font-size: 18px;
  margin:40px;
}


/* Project section --------------- */
.project-section {
  background-color: #58785e3e;
  border-radius: 5vh;
  margin-bottom: 20px;
}
.project-row {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
  text-align:center;
}

.project-row p {
  padding: 1rem 1rem;
}

.project-row a {
  background-color: #314e3699;
}

.project-section h3 {
  color: #813454;
  padding: 0px;
  padding-top: 20px;
}

.project-col {
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    border-bottom:#813454 solid 3px;
  }
  img:hover{
    filter:opacity(80%);
  }
}

/* Cards */
.card-body {
  background-color: white;
}

.card {
  border: none;
  width: 90%;
  max-width: 400px;
  background-color: #605f5f40;
}

.card > svg {
  padding: 10px;
  fill:#81345450;
  width: 100%;
  height: 100px; 
}


/* About section ----------------*/
.about-context > p {
  font-size: 18px;
  font-style:italic;
  color:black;
  text-align: justify;
}


/* Contact-Footer section ------*/
.connect-footer{
  justify-self: center;
  align-items: center;
  text-align: center;
  padding-bottom: 100px;
  h4 {
    font-size: 18px;
    color: #813454;
  }
  small {
    color: rgba(33, 10, 84, 0.447);
  }
}

.nav-item {
  text-align: center;
  h5, a {
  color: white;
  }
}




/* Media Queries ----------------*/

@media
(max-width: 992px) {
  .project-row .col {
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }

  h2 {
    text-align: center
  }

  .intro-container {
    align-items: center;
    text-align: center;
  }

  .carousel-inner {
    scale:calc(.75);
  }
}
